<div class="row post" *ngFor="let track of tracks">
  <div class="col-md-1">
    <app-track-vote-button [track]="track"></app-track-vote-button>
  </div>
  <div class="col-md-11">
        <span class="subreddit-info">
            <span class="subreddit-text"><a class="posturl" routerLink="">Dodano {{track.createdAt | dateAgo}}</a></span>
            <span *ngIf="track.user!==null">
              Autor <a class="username" routerLink="/profile/{{track.user.username}}">{{track.user.username}}</a>
            </span>
            <span *ngIf="track.user==null">
              Autor <a class="username" routerLink="/user/oskarro">Oskarro</a>
            </span>
        </span>
    <hr />
    <div class="post-title">
      <a *ngIf="track.version !== null" class="postname" href="/track/{{track.id}}">{{track.artist}} - {{track.title}} ({{track.version}})</a>
      <a *ngIf="track.version === null" class="postname" href="/track/{{track.id}}">{{track.artist}} - {{track.title}}</a>
    </div>
    <div *ngIf="track.urlSource !== null" class="post-title">
    </div>
    <div *ngIf="track.urlSource === 'ZIPPYSHARE'" class="post-title iframe_track">
      <iframe [src]="track.safeUrl" width="1000" height="100" frameborder="0"></iframe>
    </div>
    <div *ngIf="track.urlSource === 'KRAKENFILES'" class="post-title iframe_track">
      <iframe [src]="track.safeUrl" width="1000" height="100" frameborder="0"></iframe>
    </div>
    <span>
      <a *ngIf="isLoggedIn" class="btnCommments" href="app/track/{{track.id}}" role="button">
       <button class="btn-info">Download</button>
      </a>
      <a *ngIf="!isLoggedIn" class="btnCommments" [routerLink]="['/login']" role="button">
       <button class="btn-info">Zaloguj się, aby pobrać utwór</button>
      </a>
    </span>
    <hr />
  </div>
</div>

