<div class="example-container">

<!-- Playlist menu -->
  <div class="row" style="align-content: center; display: inline-block; text-align: center;">
    <input type="text"
           [(ngModel)]="searchText"
           class="mat-form-field"
           style="width: 100%;"
           placeholder="Wyszukaj playlistę..." />
  </div>

  <!-- Playlist content -->
  <div style="margin-top: 28px; width: 100%; text-align: center;">
    <div style="margin-top: 28px; width: 100%; display: inline-block">
      <br>
      <div class="list-group list-group-flush">
        <div *ngFor="let playlist of playlists | playlistFilter:searchText">
          <a class="list-group-item list-group-item-action">
            {{ playlist.name }}
            <i class="material-icons" style="float:right; margin-right: 2px;" [routerLink]="['/playlist', playlist.id, 'details']">slideshow</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
