<!-- navigation menu -->
<app-navigation></app-navigation>

<!-- routing content -->


<!--<div class="charts-warp set-bg" data-setbg="img/chart-bg.jpg">
  <div class="container">
    <img src="assets/img/bg.png" alt="">
  </div>
</div>-->

<!--  <div class="row" style="width: 100%">-->
<!--    <div class="col" style="margin-left: 10px">-->
<!--      <app-sidebar-left></app-sidebar-left>-->
<!--    </div>-->
<!--    <div class="col-8">-->
<!--        <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    <div class="col" style="margin-right: 10px">-->
<!--      <app-sidebar-right></app-sidebar-right>-->
<!--    </div>-->
<!--  </div>-->


<!--&lt;!&ndash; footer &ndash;&gt;-->
<!--<app-footer class="mt-auto"></app-footer>-->
