<div>
  <header class="jumbotron">
    <p *ngIf="isLoggedIn">Cześć {{ currentUser.username }} !</p>
    <p *ngIf="!isLoggedIn">Jesteś nowy? <a routerLink="/register">Dołącz do naszej ekipy</a></p>

  </header>

    <!-- Post list content -->
  <div class="shadowbox">
    <div style="text-align: center; font-size: 30px;">Ważne informacje</div>
    <div *ngFor="let post of posts" class="bg-grey text-center">
      <h4>{{post.title}}</h4>
      <p class="panel-playlists" [routerLink]="['post', post.id, 'details']">Zobacz</p>
      <hr style="width:70%">
    </div>
  </div>
</div>
