<div class="container">

  <p>Playlista: {{playlist.name}}</p>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <p *ngIf="this.tracks.length === 0">Nie ma żadnych utworów w tej składance</p>
      </div>
    </div>
  </div>

  <!-- Track list -->
  <div class="card bg-warning" style="border: 4px solid white;">
    <div class="card-body" style="padding: 8px; margin-top: 8px;">
      <div *ngFor="let track of tracks">
        <input type="text"
               [(ngModel)]="track.artist"
               class="input-label-lg"
               maxlength="18" style="width: 35%"
               value="{{track.artist}}"/>
        <input type="text"
               [(ngModel)]="track.title"
               class="input-label-lg"
               maxlength="18" style="width: 25%"
               value="{{track.title}}"/>
        <input type="text"
               [(ngModel)]="track.version"
               class="input-label-lg"
               maxlength="18" style="width: 30%"
               value="{{track.version}}"/>
        <a (click)="deleteTrack(track)" class="pull-right text-danger">
          <i class="material-icons" style="float:right;">delete</i>
        </a>
      </div>
    </div>
  </div>

  <!-- ADDING TRACK TO PLAYLIST PANEL -->
  <div>
    <input #newArtist
           type="text"
           class="input-label-lg"
           maxlength="18" style="width: 25%"
           value=""/>
    <input #newTitle
           type="text"
           class="input-label-lg"
           maxlength="18" style="width: 25%"
           value=""/>
    <input #newVersion
           type="text"
           class="input-label-lg"
           maxlength="18" style="width: 30%"
           value=""/>
    <button mat-raised-button
            (click)="addTrackToPlaylist(newArtist.value, newTitle.value, newVersion.value)"
            type="button"
            color="primary"
            style="margin-left: 10px;">Dodaj utwór
    </button>
  </div>


  <button mat-raised-button
          type="button"
          (click)="addTrackToPlaylist()"
          class="btn btn-warning pull-right"
          routerLink="../details"
          style="margin-left: 10px;">Zapisz playlistę
  </button>
</div>

