<div class="row post">

<!-- BASIC TRACK INFORMATION -->
  <div class="col-md-1">
    <app-track-vote-button [track]="track"></app-track-vote-button>
  </div>
  <div class="col-md-11">
        <span class="subreddit-info">
            <span class="subreddit-text"><a class="posturl" routerLink="">Dodano {{track.createdAt | dateAgo}}</a></span>
            <span *ngIf="track.user!==null">
              Autor <a class="username" routerLink="/profile/{{track.user.username}}">{{track.user.username}}</a>
            </span>
            <span *ngIf="track.user==null">
              Autor <a class="username" routerLink="/user/oskarro">Oskarro</a>
            </span>
        </span>
    <hr />
    <div *ngIf="track.version !== null" class="post-title">
      <a class="postname" href="/tracks/{{track.id}}">{{track.artist}} - {{track.title}} ({{track.version}})</a>
    </div>
    <div *ngIf="track.version === null" class="post-title">
      <a class="postname" href="/tracks/{{track.id}}">{{track.artist}} - {{track.title}}</a>
    </div>
    <div *ngIf="track.urlSource !== null" class="post-title">
    </div>
    <div *ngIf="track.urlSource === 'ZIPPYSHARE'" class="post-title">
      <iframe [src]="track.safeUrl" width="450" height="100" frameborder="0"></iframe>
    </div>
    <div *ngIf="track.urlSource === 'KRAKENFILES'" class="post-title">
      <iframe [src]="track.safeUrl" width="450" height="100" frameborder="0"></iframe>
    </div>
    <div *ngIf="track.urlSource === 'SOUNDCLOUD'" class="post-title">
      <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/oskarro" title="Oskarro" target="_blank" style="color: #cccccc; text-decoration: none;">Oskarro</a> · <a href="https://soundcloud.com/oskarro/oskarro-retro" title="Oskarro - RETRO" target="_blank" style="color: #cccccc; text-decoration: none;">Oskarro - RETRO</a></div>
      <iframe width="100%" height="80px" scrolling="no" frameborder="no" allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/603208284&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
      </iframe>
    </div>
    <div>
      <a href="{{track.url}}" target="_blank" rel="noopener noreferrer">Pobierz utwór</a>
    </div>
    <hr />

    <!-- DETAILS TRACK INFORMATION -->
    <div *ngIf="track.urlSource === 'KRAKENFILES'">
      <h3>Informacje o utworze</h3>
      <div>Gatunek: {{track.genre}}</div>
      <div>Długość: {{track.title}}</div>
      <div>Jakość: {{track.genre}}</div>
      <div>Ilość wyświetleń: {{track.genre}}</div>
      <div>Ilość pobrań: {{track.genre}}</div>
    </div>

  </div>


<!-- COMMENTS LIST -->
  <div class="container" >
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h3><small class="pull-right">{{trackComments.length}} komentarzy</small> Komentarze </h3>
        </div>
        <div class="comment-widgets">
          <div *ngFor="let comment of trackComments" class="d-flex flex-row comment-row m-t-0">
            <a class="media-left" href="#">
              <img [src]="imagesToShow.get(comment.user.username)" width="50" height="50"
                   alt="Place image title" class="rounded-circle"
                   *ngIf="imagesToShow.get(comment.user.username); else noImageFound">
              <ng-template #noImageFound>
                <img id="profile-imgs" width="50" height="50"
                     src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                     alt="image to show"
                     class="profile-img-card rounded-circle"/>
              </ng-template>
            </a>
            <div class="media-body">
              <h4 class="media-heading user_name">{{comment.user.username}}</h4>
              {{comment.text}}
            </div>
            <div class="comment-footer">
              <span class="text-muted float-right">August 1, 2019</span>
              <button type="button" class="btn btn-cyan btn-sm">Edytuj</button>
              <button type="button" class="btn btn-danger btn-sm">Usuń</button>
            </div>
          </div>
        </div>

        <!-- COMMENTS FORM -->
        <div class="card my-5" style="background-color: transparent">
          <form #commentForm="ngForm">
            <div><h4>Dodaj nowy komentarz</h4></div>
            <fieldset>
              <div class="row">
                <div class="col-sm-3 col-lg-2 hidden-xs">
                  <img [src]="imagesToShow.get(this.modelUser.username)" width="100%" height="100%"
                       alt="Place image title" class="img-responsive rounded-circle"
                       *ngIf="imagesToShow.get(this.modelUser.username); else noImageFound">
                  <ng-template #noImageFound>
                    <img id="profile-img" width="50" height="50"
                         src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                         alt="image to show"
                         class="profile-img-card rounded-circle"/>
                  </ng-template>
                </div>
                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                  <label for="comment" style="color: white">Treść komentarza</label>
                  <textarea #trackCommentText class="form-control" rows="2"
                            id="comment" placeholder="Treść komentarza" required="">

                  </textarea>
                </div>
              </div>
              <button type="submit" [disabled]="!commentForm.form.valid"
                      (click)="addNewTrackComment(trackCommentText.value)"
                      class="btn btn-info pull-right">Submit
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
