<!-- TOP HEADER PANEL -->
<mat-toolbar fxLayout="row" color="primary" style="border-bottom:3px solid purple;" >
  <img src="../../assets/img/logo_oskarro.png" height="40" width="40" style="margin-right: 20px">
  <span fxFlex>{{title}}</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">headset</mat-icon>

  <button mat-button routerLink="/admin/panel" *ngIf="showAdminBoard" fxHide.xs>Admin</button>
  <button mat-button routerLink="/register" *ngIf="!isLoggedIn" fxHide.xs>Zarejestruj się</button>
  <button mat-button routerLink="/login" *ngIf="!isLoggedIn" fxHide.xs>Zaloguj się</button>
  <button mat-button routerLink="/profile" *ngIf="isLoggedIn" fxHide.xs>{{ username }}</button>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn" fxHide.xs>Wyloguj się</button>

  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #dropMenu="matMenu">
    <ng-container>
      <button mat-menu-item routerLink="/admin/panel" *ngIf="showAdminBoard">
        <mat-icon class="mr">slideshow</mat-icon>Admin
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/register" *ngIf="!isLoggedIn">
        <mat-icon class="mr">login</mat-icon>Zarejestruj się
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/login" *ngIf="!isLoggedIn">
        <mat-icon class="mr">login</mat-icon>Zaloguj się
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/profile" *ngIf="isLoggedIn">
        <mat-icon class="mr">user</mat-icon>{{ username }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn">
        <mat-icon class="mr">user</mat-icon>Wyloguj się
      </button>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>
<!-- END -->


<!-- NAVIGATION PANEL PANEL -->
<div class="row" style="width: 100%; align-content: center; display: inline-block; text-align: center; margin-bottom: 40px">
    <button mat-button routerLink="/" style="color: white">Strona główna</button>

    <button mat-button [matMenuTriggerFor]="tracksMenu" style="color: white">Utwory</button>
    <mat-menu #tracksMenu="matMenu" yPosition="below">
      <button [routerLink]="['/tracks', 'vixa']" mat-menu-item>Vixa</button>
      <button [routerLink]="['/tracks', 'club']" mat-menu-item>Club</button>
      <button [routerLink]="['/tracks', 'dance']" mat-menu-item>Dance</button>
      <button [routerLink]="['/tracks', 'retro']" mat-menu-item>Retro</button>
      <button [routerLink]="['/tracks', 'techno']" mat-menu-item>Techno</button>
      <button [routerLink]="['/tracks', 'disco']" mat-menu-item>Disco</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="genreMenu" style="color: white">Top ranking</button>
      <mat-menu #genreMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/tracklist/vixa">Vixa</button>
        <button mat-menu-item routerLink="/tracklist/club">Club</button>
        <button mat-menu-item routerLink="/tracklist/dance">Dance</button>
        <button mat-menu-item routerLink="/tracklist/house">House</button>
        <button mat-menu-item routerLink="/tracklist/retro">Retro</button>
      </mat-menu>

<!--    <button mat-button [matMenuTriggerFor]="providerMenu" style="color: white">Serwisy</button>-->
<!--      <mat-menu #providerMenu="matMenu" xPosition="after">-->
<!--        <button mat-menu-item routerLink="/provider/1/details">Nuteczki</button>-->
<!--        <button mat-menu-item routerLink="/provider/2/details">Radioparty</button>-->
<!--        <button mat-menu-item routerLink="/provider/4/details">Billboard</button>-->
<!--        <button mat-menu-item routerLink="/provider/8/details">Apple</button>-->
<!--      </mat-menu>-->

<!--    <button mat-button [matMenuTriggerFor]="topMenu" style="color: white">Top ranking</button>-->
<!--      <mat-menu #topMenu="matMenu" xPosition="after">-->
<!--        <button mat-menu-item routerLink="/toplist/retro">Retro</button>-->
<!--        <button mat-menu-item routerLink="/toplist/club">Club</button>-->
<!--        <button mat-menu-item routerLink="/toplist/dance">Dance</button>-->
<!--        <button mat-menu-item routerLink="/toplist/house">House</button>-->
<!--        <button mat-menu-item routerLink="/toplist/techno">Techno</button>-->
<!--      </mat-menu>-->

    <button mat-button [matMenuTriggerFor]="videoMenu" style="color: white">Video</button>
      <mat-menu #videoMenu="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/video/category/MIX">Mixy</button>
        <button mat-menu-item routerLink="/video/category/LUNA_MIX">Luna Mix</button>
        <button mat-menu-item routerLink="/video/category/PSYCHO_PATH">Psychopath</button>
        <button mat-menu-item routerLink="/video/category/RETRO">Retro</button>
      </mat-menu>

<!--    <button mat-button [matMenuTriggerFor]="playlistMenu" style="color: white">Playlist</button>-->
<!--      <mat-menu #playlistMenu="matMenu" xPosition="after">-->
<!--        <button mat-menu-item routerLink="/playlist/all">Playlisty użytkowników</button>-->
<!--        <button mat-menu-item *ngIf="isLoggedIn" routerLink="/playlist/all/{{username}}">Moje składanki</button>-->
<!--      </mat-menu>-->
</div>
<!-- END -->
