<div>
  <h3 style="text-align: center">SIDEBAR RIGHT</h3>
  <div class="thumbnail bg-grey text-center">
    <h2>$14</h2>
    <p>Basic License</p>
    <a href="#" class="btn btn-success" role="button">Buy Now</a>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Polecane</h3>
    </div>
    <div class="panel-body bg-grey text-center">
      <img src="img/swoopthemes.jpg" alt="Swoop Themes" class="img-circle">
      <h4>Swoop Themes</h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">TOP 5</h3>
    </div>
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td>Retro</td>
        <td>xxx</td>
      </tr>
      <tr>
        <td>Club</td>
        <td>x</td>
      </tr>
      <tr>
        <td>Dance</td>
        <td>xxx</td>
      </tr>
      <tr>
        <td>House</td>
        <td>xxx</td>
      </tr>
      <tr>
        <td>Techno</td>
        <td>xxx</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
