<div class="card my-5" style="background-color: #000000">
  <div class="card-body">
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="title" style="color: white">Tytuł</label>
        <input #trackTitle type="text" matInput [(ngModel)]="modelTrack.title"
               class="form-control"
               style="background-color: #e5e1e1"
               id="title"
               name="title"
               placeholder="Wprowadź tytuł">
      </div>

      <div class="form-group">
        <label for="artist" style="color: white">Artysta</label>
        <input #trackArtist matInput type="text" [(ngModel)]="modelTrack.artist"
               class="form-control"
               style="background-color: #e5e1e1"
               id="artist"
               name="artist"
               placeholder="Wprowadź nazwę artysty"
               required #trackArtist="ngModel">
      </div>

      <div class="form-group">
        <label for="version" style="color: white">Wersja</label>
        <input #trackVersion matInput type="text" [(ngModel)]="modelTrack.version"
               class="form-control"
               style="background-color: #e5e1e1"
               id="version"
               name="version"
               placeholder="Wprowadź nazwę wersji/remixu"
               required #trackVersion="ngModel">
      </div>

      <div class="form-group">
        <mat-form-field style="color: white">
          <label for="genres" style="color: white">Gatunek</label>
          <mat-select #trackGenre [(ngModel)]="modelTrack.genre" style="color: black" id="genres">
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{genre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="version" style="color: white">URL</label>
        <input #trackUrl matInput type="text" [(ngModel)]="modelTrack.url"
               class="form-control"
               style="background-color: #e5e1e1"
               id="url"
               name="url"
               placeholder="Wprowadź link do utworu"
               required #trackUrl="ngModel">
      </div>

      <div class="form-group">
        <mat-form-field style="color: white">
          <label for="genres" style="color: white">Żródło URL</label>
          <mat-select #trackUrlSource [(ngModel)]="modelTrack.urlSource" style="color: black" id="urlSource">
            <mat-option *ngFor="let urlSource of urlSources" [value]="urlSource">
              {{urlSource}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button type="submit" [disabled]="!userForm.form.valid"
              (click)="addNewTrack(trackTitle.value, trackArtist.value, trackVersion.value,
              trackGenre.value, trackUrl.value, trackUrlSource.value)"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
