<div class="card my-5" style="background-color: #000000">
  <div class="card-body">
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="title" style="color: white">Tytuł</label>
        <input #trackTitle type="text" matInput [(ngModel)]="modelTrack.title"
               class="form-control"
               style="background-color: #e5e1e1"
               id="title"
               name="title"
               placeholder="Enter title">
      </div>

      <div class="form-group">
        <label for="artist" style="color: white">Artysta</label>
        <input #trackArtist matInput type="text" [(ngModel)]="modelTrack.artist"
               class="form-control"
               style="background-color: #e5e1e1"
               id="artist"
               name="artist"
               placeholder="Enter title"
               required #trackArtist="ngModel">
      </div>

      <div class="form-group">
        <label for="version" style="color: white">Wersja</label>
        <input #trackVersion matInput type="text" [(ngModel)]="modelTrack.version"
               class="form-control"
               style="background-color: #e5e1e1"
               id="version"
               name="version"
               placeholder="Enter title"
               required #trackVersion="ngModel">
      </div>

      <div class="form-group">
        <mat-form-field style="color: white">
          <label for="genres" style="color: white">Gatunek</label>
          <mat-select #trackGenre [(ngModel)]="modelTrack.genre" style="color: black" id="genres">
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{genre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button type="submit" [disabled]="!userForm.form.valid"
              (click)="addNewTrack(trackTitle.value, trackArtist.value, trackVersion.value, trackGenre.value)"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
