<div class="example-container">
  <div style="display: inline-block; text-align: center;">
    <mat-card-title>Wszystkie posty dodane przez użytkownika {{username}}</mat-card-title>
    <!-- Post content -->
    <div class="row" style="margin-top: 28px; width: 100%; text-align: center;" *ngIf="isLoggedIn">
      <div style="margin-top: 28px; width: 100%; display: inline-block">
        <br>
        <div class="list-group list-group-flush">
          <div *ngFor="let post of posts">
            <a class="list-group-item list-group-item-action">
              {{ post.title }}
              <i class="material-icons" (click)="deletePost(post.id)" style="float:right;">delete</i>
              <i class="material-icons" style="float:right; margin-right: 2px;" [routerLink]="['/post', post.id, 'edit']">edit</i>
              <i class="material-icons" style="float:right; margin-right: 2px;" [routerLink]="['/post', post.id, 'details']">slideshow</i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: left; margin-top: 10px">
      <button mat-raised-button
              type="button"
              color="primary"
              routerLink="/post/add">Dodaj nowy post
      </button>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="!isLoggedIn">
      <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć Twoje posty!
    </div>

  </div>
</div>
