<div class="reddit-body">
  <div class="container">

    <hr />
      <app-track-tile [tracks]="tracks"
                      [totalNumberOfTracks]="totalNumberOfTracks"
                      [currentPage]="currentPage"
                      [totalNumberOfPages]="totalNumberOfPages"
      >
      </app-track-tile>
  </div>

  <div *ngIf="totalNumberOfPages > 1" style="text-align: center;">
      <span class="pagination">
        <a *ngIf="currentPage > 1" type='button' href="app/tracks/{{genre}}/{{previousPage(currentPage)}}">&laquo;</a>
      </span>
<!--      <div class="pagination" *ngFor="let item of createRange(totalNumberOfPages)">-->
<!--        <a *ngIf="currentPage != item && item < currentPage" type='button' href="app/tracks/{{genre}}/{{item}}">{{item}}</a>-->
<!--        <a class="active" *ngIf="currentPage == item" type='button' href="app/tracks/{{genre}}/{{item}}">{{item}}</a>-->
<!--        <a *ngIf="currentPage != item && item > currentPage" type='button' href="app/tracks/{{genre}}/{{item}}">{{item}}</a>-->
<!--      </div>-->
      <span class="pagination">
        <a class="active" type='button' href="app/tracks/{{genre}}/{{currentPage}}">{{currentPage}}</a>
      </span>
      <span class="pagination">
        <a *ngIf="currentPage < totalNumberOfPages" type='button' href="app/tracks/{{genre}}/{{nextPage(currentPage)}}">&raquo;</a>
      </span>
    </div>

</div>
