<div class="card" style="background: rgba(0,0,0,0.8)">
  <h3 class="card-header" style="text-align: center; color: white">
    PANEL LOGOWANIA
  </h3>
  <article class="card-body mx-auto" style="max-width: 100%; min-width: 50%">

    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <p>
        <a href="" class="btn btn-block btn-facebook">
          <i class="fa fa-facebook"></i> Zaloguj się za pomocą Facebook
        </a>
      </p>

      <p class="divider-text" style="color: black">
        <span class="bg-light">LUB</span>
      </p>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user fa-2x"></i> </span>
        </div>
        <div class="alert-danger" style="position: relative; text-align: center; font-size: 15px;" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Nazwa użytkownika jest wymagana</div>
        </div>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
               required minlength="3" maxlength="20" #username="ngModel" placeholder="Nazwa użytkownika lub adres email" />
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock fa-2x"></i> </span>
        </div>
        <div class="alert-danger" style="position: relative; text-align: center; font-size: 15px;" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Wymagane hasło</div>
        </div>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
               required minlength="6" #password="ngModel" placeholder="Hasło" id="password"/>
      </div> <!-- form-group// -->

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="submit_register">Zaloguj się</button>
      </div> <!-- form-group// -->


      <p class="text-center">Chcesz stworzyć nowe konto? <a href="">Dołącz do nas!</a></p>
      <div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed">
        Wystąpił błąd podczas rejestracji!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Zalogowałeś się w portalu oskarro.com !
    </div>
  </article>
</div> <!-- card.// -->




<!--
STARY PANEL LOGOWANIA

<div class="mat-drawer-container">

  <div style="text-align: center">
    <div class="card card-container" style="display: inline-block;">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"/>
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
        <div class="form-group">
          <label for="username">Nazwa użytkownika / email</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"/>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && username.invalid">
            Wymagana nazwa użytkownika
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"/>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Wymagane hasło</div>
            <div *ngIf="password.errors.minlength">
              Hasło musi zawierać minimum 6 znaków
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Zaloguj się
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed">
            Błąd logowania: {{ errorMessage }}
          </div>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Zalogowałeś się jako {{ roles }}.
      </div>
    </div>
  </div>


</div>
-->
