<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let video of videos">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ video.name }}
        </mat-panel-title>
        <mat-panel-description>
          Zobacz tracklistę
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe width="420" height="315"
              [src]=video.safeUrl>
      </iframe> <br/>
      Tracklist:
      <p *ngFor="let track of video.tracks">
        {{ track.artist }} - {{ track.title }} ({{track.version}})
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
