<div class="container" style="margin-top: 30px;">
  <mat-card>Składanka</mat-card>
  <iframe width="420" height="315"
          src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>
</div>


<!-- Playlist content -->
<div class="row" style="margin-top: 28px;">
  <div class="col-md-3">
    <br>
    <div class="list-group list-group-flush">
      <div *ngFor="let video of videos">
        <a class="list-group-item list-group-item-action">
          {{ video.name }}
          <i class="material-icons" style="float:right; margin-right: 2px;" routerLink="../../playlist/{{video.id}}/edit">edit</i>
          <i class="material-icons" style="float:right; margin-right: 2px;" routerLink="../../playlist/{{video.id}}/details">slideshow</i>
        </a>
      </div>
    </div>
  </div>
</div>
