<div class="example-container">
<h3>Najlepsze utwory według serwisu: {{provider.name}}</h3>
  <h4>{{favoriteTracksIds.length}}</h4>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="{{genre.toString()}}" *ngFor="let genre of genres" [routerLink]="['/provider/', provider.id, 'tracks', genre.toString()]">

    <mat-card-content>
    <!-- Track list -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artysta</th>
        <th scope="col">Tytuł</th>
        <th scope="col">Wersja</th>
        <th *ngIf="isLoggedIn" scope="col" style="text-align: center">Zagłosuj</th>
        <th scope="col" style="text-align: center">Dodaj do ulubionych</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of tracks | slice:0:10; let i=index; index as i">
        <th *ngIf="track.genre===genre" scope="row">{{ track.position }}</th>
        <td *ngIf="track.genre===genre">{{ track.title }}</td>
        <td *ngIf="track.genre===genre">{{ track.artist }}</td>
        <td *ngIf="track.genre===genre">{{ track.version }}</td>
        <td *ngIf="track.genre===genre && isLoggedIn" style="text-align: center">
          Lubię to!
        </td>
        <td *ngIf="track.genre===genre && isLoggedIn"  style="text-align: center">
          <button mat-raised-button *ngIf="!favoriteTracksIds.toString().includes(track.id.toString())"
                  (click)="addTrackToFavorites(track.id, username); clicked[i] = true;"
                  [disabled]="clicked[i]"
                  type="button"
                  color="primary"
                  style="margin-left: 10px;">Dodaj
          </button>
          <button mat-raised-button disabled *ngIf="favoriteTracksIds.toString().includes(track.id.toString())"
                  (click)="addTrackToFavorites(track.id, username)"
                  type="button"
                  color="primary"
                  style="margin-left: 10px;">Dodany
          </button>
        </td>
        <td *ngIf="track.genre===genre && !isLoggedIn"  style="text-align: center">
          <p><a [routerLink]="['/login']">Zaloguj się !</a></p>
        </td>
      </tr>
      </tbody>
    </table>
    </mat-card-content>
  </mat-tab>
</mat-tab-group>
  <div class="alert alert-warning" role="alert">
    <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć więcej utworów!
  </div>
</div>
