<div class="example-container">

<div class="d-flex align-items-center p-3 my-3 text-white-50" style="background-color: purple">
  <img class="mr-3" src="../../../assets/img/logo_oskarro.png" alt="" width="48" height="48">
  <div class="lh-100">
    <h4 class="mb-0 text-white lh-100">Najlepsze utowry z serwisu {{provider.name}}</h4>
    <small>Oskarro.com</small>
  </div>
</div>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="{{genre.toString()}}" *ngFor="let genre of genres" [routerLink]="['/provider/', provider.id, 'tracks', genre.toString()]">

    <mat-card-content>
    <!-- Track list -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="text-align: center">#</th>
        <th scope="col" style="text-align: center">Artysta</th>
        <th scope="col" style="text-align: center">Tytuł</th>
        <th scope="col" style="text-align: center">Wersja</th>
        <th *ngIf="isLoggedIn" scope="col" style="text-align: center">Zagłosuj</th>
        <th scope="col" style="text-align: center">Dodaj do ulubionych</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of tracks | slice:0:10; let i=index; index as i">
        <th *ngIf="track.genre===genre" scope="row" style="text-align: center">{{ track.position }}</th>
        <td *ngIf="track.genre===genre" style="text-align: center">{{ track.title }}</td>
        <td *ngIf="track.genre===genre" style="text-align: center">{{ track.artist }}</td>
        <td *ngIf="track.genre===genre" style="text-align: center">{{ track.version }}</td>
        <td *ngIf="track.genre===genre && isLoggedIn" style="text-align: center">
          Lubię to!
        </td>
        <td *ngIf="track.genre===genre && isLoggedIn"  style="text-align: center">
          <button mat-raised-button *ngIf="!favoriteTracksIds.toString().includes(track.id.toString())"
                  (click)="addTrackToFavorites(track.id, username); clicked[i] = true;"
                  [disabled]="clicked[i]"
                  type="button"
                  color="primary"
                  style="margin-left: 10px;">Dodaj
          </button>
          <button mat-raised-button disabled *ngIf="favoriteTracksIds.toString().includes(track.id.toString())"
                  (click)="addTrackToFavorites(track.id, username)"
                  type="button"
                  color="primary"
                  style="margin-left: 10px;">Dodany
          </button>
        </td>
        <td *ngIf="track.genre===genre && !isLoggedIn"  style="text-align: center">
          <button mat-stroked-button [routerLink]="['/login']">Zaloguj się !</button>
        </td>
      </tr>
      </tbody>
    </table>
    </mat-card-content>
  </mat-tab>
</mat-tab-group>
  <div class="alert alert-warning" role="alert">
    <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć więcej utworów!
  </div>
</div>
