.video-container {
  margin-top: 20px;
}

.search-field {
  margin-right: 15px;
  margin-bottom: 20px;
}

.expansion-panel {
  text-align: center;
  background-color: #3c0047
}

.panel-main-title {
  color: white;
  size: 2em;
}
