.title_table {
  color:white;
  background-color: rgb(65, 0, 88);
  border: 1px solid #ddd;
}

.title_table_name {
  text-align: center;
  font-weight: bold;
}

#tracks {
  border-collapse: collapse;
  width: 100%;
  color: white;
  background-color: #313131;
}

#tracks td, #tracks th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tracks tr:nth-child(even){background-color: #313131;}

#tracks tr:hover {background-color: #505050;}

#tracks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #520052;
  color: white;
}


