<div class="example-container">

  <div style="color:white; background-color: purple; border: 1px solid #ddd;">
    <h2>TOPLISTA - {{tracks[0].genre}}</h2>
  </div>

  <table id="tracks">
    <tr>
      <th *ngFor="let column of displayedColumns">
        {{ column }}
      </th>
    </tr>

    <tr *ngFor="let track of tracks |slice:0:numberOfTracks; let i=index; index as i">
      <td>{{ i+1 }}</td>
      <td>{{ track.title }}</td>
      <td>{{ track.artist }}</td>
      <td>{{ track.version }}</td>
      <td style="text-align: center">{{ track.points }}</td>
      <td *ngIf="isLoggedIn" style="text-align: center">
        <button mat-raised-button *ngIf="!favoriteTracksIds.toString().includes(track.id.toString())"
                (click)="addTrackToFavorites(track.id, username); clicked[i] = true;"
                [disabled]="clicked[i]"
                type="button"
                color="primary"
                class="btn btn-primary"
                style="margin-left: 10px; color: white">Dodaj
        </button>
        <button mat-raised-button *ngIf="favoriteTracksIds.toString().includes(track.id.toString())"
                (click)="addTrackToFavorites(track.id, username)"
                type="button"
                color="accent"
                [disabled]="true"
                class="btn btn-primary"
                style="margin-left: 10px; color: white">Dodany
        </button>
      </td>
      <td *ngIf="!isLoggedIn"  style="text-align: center; vertical-align: middle;">
        <button mat-stroked-button [routerLink]="['/login']">Zaloguj się !</button>
      </td>
      <td *ngIf="isLoggedIn" style="text-align: center; vertical-align: middle;">
        <button mat-raised-button *ngIf="!votedTracksIds.toString().includes(track.id.toString())"
                (click)="addVoteForTrack(track.id, username); clickedVote[i] = true;"
                [disabled]="clickedVote[i]"
                type="button"
                color="primary"
                class="btn btn-primary"
                style="margin-left: 10px; color: white">Lubię To!
        </button>
        <button mat-raised-button *ngIf="votedTracksIds.toString().includes(track.id.toString())"
                (click)="addVoteForTrack(track.id, username)"
                type="button"
                color="accent"
                [disabled]="true"
                class="btn btn-primary"
                style="margin-left: 10px; color: white">Już to lubisz.
        </button>
      </td>
      <td *ngIf="!isLoggedIn"  style="text-align: center; vertical-align: middle;">
        <button mat-stroked-button [routerLink]="['/login']">Zaloguj się !</button>
      </td>
    </tr>
  </table>

  <div *ngIf="!isLoggedIn"  class="alert alert-warning" role="alert">
    <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć więcej utworów!
  </div>

</div>
