<div class="row post" *ngFor="let track of data">
  <div class="col-md-1">
    <app-track-vote-button [track]="track"></app-track-vote-button>
  </div>
  <div class="col-md-11">
        <span class="subreddit-info">
            <span class="subreddit-text"><a class="posturl" routerLink="">Dodano {{track.createdAt}}</a></span>
            <span> Autor <a class="username" routerLink="/user/">{{track.user}}</a></span>
        </span>
    <hr />
    <div *ngIf="track.version !== null" class="post-title">
      <a class="postname" href="/tracks/{{track.id}}">{{track.artist}} - {{track.title}} ({{track.version}})</a>
    </div>
    <div *ngIf="track.version === null" class="post-title">
      <a class="postname" href="/tracks/{{track.id}}">{{track.artist}} - {{track.title}}</a>
    </div>
    <hr />
    <span>
      <a class="btnCommments" role="button">
       <button class="btn-info">Sprawdź</button>
      </a>
    </span>
  </div>
</div>
