<div class="example-container">
  <mat-card style="background-color: rgba(0,0,0,0.8); color: white">
    <mat-card-title>TOPLISTA {{tracks[0].genre}}</mat-card-title>
    <mat-card-content>
      <mat-list *ngIf="!isLoggedIn">
        <mat-list-item *ngFor="let track of tracks | slice:0:10; let i=index; index as i;" style="color: white">
          <h3 mat-line>#{{i+1}} {{track.artist}} - {{track.title}} ({{track.version}})</h3>
          <mat-divider ></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="isLoggedIn">
        <mat-list-item *ngFor="let track of tracks | slice:0:20; let i=index; index as i" style="color: white">
          <h3 mat-line>#{{i+1}} {{track.artist}} - {{track.title}} ({{track.version}})</h3>
          <mat-divider ></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <div *ngIf="!isLoggedIn"  class="alert alert-warning" role="alert">
    <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć całą toplistę!
  </div>
</div>
