<div>
  <h3 style="text-align: center">SIDEBAR LEFT</h3>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #610061">
      <h3 class="panel-title" style="color: white" >Polecany utwór</h3>
    </div>
    <div class="panel-body text-center">
      <h3>{{randomTrack.title}}</h3>
      <h4>{{randomTrack.artist}}</h4>
      <h5>({{randomTrack.version}})</h5>
      <p style="display: none" id="randomTrack">{{randomTrack.artist}} - {{randomTrack.title}} ({{randomTrack.version}})</p>
      <button onclick="copyToClipboard('#randomTrack')">Skopiuj całą nazwę</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #610061">
      <h3 class="panel-title" style="color: white">TOP 5</h3>
    </div>
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td>Retro</td>
        <td>{{popularTrackRetro.title}}</td>
      </tr>
      <tr>
        <td>Club</td>
        <td>{{popularTrackClub.title}}</td>
      </tr>
      <tr>
        <td>Dance</td>
        <td>{{popularTrackDance.title}}</td>
      </tr>
      <tr>
        <td>House</td>
        <td>xxx</td>
      </tr>
      <tr>
        <td>Techno</td>
        <td>xxx</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #610061; margin-bottom: 5px">
      <h3 class="panel-title" style="color: white">Najnowsze składanki</h3>
    </div>
    <div *ngFor="let playlist of playlists" class="bg-grey text-center">
      <p class="panel-playlists" routerLink="playlist/{{playlist.id}}/details">{{ playlist.user.username }} - {{ playlist.name }}</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #610061; margin-bottom: 5px">
      <h3 class="panel-title" style="color: white">Ostatnio dołączyli</h3>
    </div>
    <div *ngFor="let user of users" class="bg-grey text-center">
      <p class="panel-playlists">{{ user.username }}</p>
    </div>
  </div>


</div>


