<div>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #610061">
      <h3 class="panel-title" style="color: white" >Twoje utwory</h3>
    </div>
    <div *ngIf="isLoggedIn" class="panel-body text-center" style="color: #d4d4d4; background-color: #181818">
        <p *ngFor="let userTrack of usersTrack" class="panel-playlists" style="color: white;">
          {{ userTrack.artist }} - {{ userTrack.title }}
        </p>
      <span>
        <button mat-raised-button
                type="button"
                color="primary"
                [routerLink]="['/tracks', 'add']"
                style="margin-left: 10px;">
                      <i class="material-icons">add_circle_outline</i>
        </button>
      </span>
      <span>
        <button mat-raised-button
                type="button"
                color="primary"
                [routerLink]="['/profile']"
                style="margin-left: 10px;">
                      <i class="material-icons">list</i>
        </button>
      </span>
    </div>
    <div *ngIf="!isLoggedIn" class="panel-body text-center" style="color: #d4d4d4; background-color: #181818">
      <button mat-raised-button
              type="button"
              color="primary"
              [routerLink]="['/login']"
              style="margin-left: 10px;">Zaloguj się, aby dodać utwór!
      </button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #610061">
      <h3 class="panel-title" style="color: white" >Przypadkowy hit</h3>
    </div>
    <div class="panel-body text-center" style="color: #d4d4d4; background-color: #181818">
      <h3>{{randomTrack.title}}</h3>
      <h4>{{randomTrack.artist}}</h4>
      <h5>({{randomTrack.version}})</h5>
      <p style="display: none" id="randomTrack">{{randomTrack.artist}} - {{randomTrack.title}} ({{randomTrack.version}})</p>
      <button onclick="copyToClipboard('#randomTrack')">
        <i class="material-icons">content_copy</i>
      </button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #610061">
      <h3 class="panel-title" style="color: white;">TOP 5</h3>
    </div>
    <table class="table table-bordered" style="color: #d4d4d4; background-color: #181818">
      <tbody>
      <tr>
        <td style="text-align: center">RETRO</td>
        <td style="text-align: center">{{popularTrackRetro.title}}</td>
      </tr>
      <tr>
        <td style="text-align: center">CLUB</td>
        <td style="text-align: center">{{popularTrackClub.title}}</td>
      </tr>
      <tr>
        <td style="text-align: center">DANCE</td>
        <td style="text-align: center">{{popularTrackDance.title}}</td>
      </tr>
      <tr>
        <td style="text-align: center">HOUSE</td>
        <td style="text-align: center">{{popularTrackHouse.title}}</td>
      </tr>
      <tr>
        <td style="text-align: center">TECHNO</td>
        <td style="text-align: center">{{popularTrackTechno.title}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default" style="background-color: #181818">
    <div class="panel-heading" style="background-color: #610061; margin-bottom: 5px">
      <h3 class="panel-title" style="color: white">Najlepsi uploaderzy</h3>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#week">Tydzień</a></li>
      <li><a data-toggle="tab" href="#month">Miesiąc</a></li>
      <li><a data-toggle="tab" href="#total">Total</a></li>
    </ul>


    <div class="tab-content">
      <div id="week" class="tab-pane fade in active">
        <div *ngFor="let topUploader of topUploadersWeek" style="color: #d4d4d4; background-color: #181818">
          <p class="panel-playlists" routerLink="user/{{topUploader.id}}/details" style="color: white;">
            {{ topUploader.username }} - {{ uploaderWeekMap.get(topUploader.username + 'week') }}
          </p>
        </div>
      </div>
      <div id="month" class="tab-pane fade">
        <div *ngFor="let topUploader of topUploadersMonth" style="color: #d4d4d4; background-color: #181818">
          <p class="panel-playlists" routerLink="user/{{topUploader.id}}/details" style="color: white;">
            {{ topUploader.username }} - {{ uploaderMonthMap.get(topUploader.username + 'month') }}
          </p>
        </div>
      </div>
      <div id="total" class="tab-pane fade">
        <div *ngFor="let topUploader of topUploadersTotal" style="color: #d4d4d4; background-color: #181818">
          <p class="panel-playlists" routerLink="user/{{topUploader.id}}/details" style="color: white;">
            {{ topUploader.username }} - {{ uploaderTotalMap.get(topUploader.username + 'total') }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" style="background-color: #181818">
    <div class="panel-heading" style="background-color: #610061; margin-bottom: 5px">
        <h3 class="panel-title" style="color: white">Najnowsze składanki</h3>
    </div>
    <div *ngFor="let playlist of playlists" class="text-center" style="color: #d4d4d4; background-color: #181818">
      <p class="panel-playlists" routerLink="playlist/{{playlist.id}}/details" style="color: white;">
        {{ playlist.user.username }} - {{ playlist.name }}
      </p>
    </div>
  </div>

  <div class="panel panel-default" style="background-color: #181818">
    <div class="panel-heading" style="background-color: #610061; margin-bottom: 5px">
      <h3 class="panel-title" style="color: white">Ostatnio dołączyli</h3>
    </div>
    <div *ngFor="let user of users" class="text-center" style="color: #d4d4d4; background-color: #181818">
      <p class="panel-playlists" style="color: white;">{{ user.username }}</p>
    </div>
  </div>

</div>


